{{#each lists as |list|}}
{{!-- {{log list}} --}}
<section data-id={{list._id}}>

  <p> Title
    <h4> {{list.title}} </h4>
  </p>
  <p> Description
    <h4> {{list.description}} </h4>
  </p>


  <button data-toggle="modal" data-target="#update-item-modal" data-id={{list._id}}
    class="update-item-button">Update</button>
  <button data-id={{list._id}} class="delete-item-button">Delete</button>
</section>

{{/each}}